/* ============= mobile design ==================== */
/* ================================================ */

 body {
   background: #9E939E;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

p {
  font-family: 'Coming Soon', cursive;
}

li {
  font-family: 'Itim', cursive;
}

#modal-textbox {
  font-family: 'Quantico', sans-serif;
}

 .hidden {
   display: none;
 }

 img {
   border: 10px dashed gray;
 }

 #modal {
   background-color: rgba(0,0,0,0.5);
 	 position: fixed;
   align-content: center;
 	 height: 80%;
 	 width: 80%;
 	 z-index: 1;
 	 overflow: auto;
   cursor: pointer;
 }

 #modal-textbox {
   background-color: white;
   align-content: center;
   height: 95%;
   width: 95%;
   border-radius: 2px;
   margin: 75px auto;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

 }

/* ============= web design ==================== */
/* ============================================= */
@media (min-width: 600px) {
body {
  background-color: #447B96;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3TV5w0eVRl8M6TeuPgr3hZwpU8moUnnmKyfA-AXedEjK2U9GLw");
  background-position: right;
  background-repeat: repeat-y;
}

img {
  border-color: #050908;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
 .closeButton {
   color: red;
   float: right;
   font-size: 40px;
 }

.closeButton:hover, .closeButton:focus{
  color: black;
  cursor: pointer;
}
}
