/* ============= mobile design ==================== */
/* ================================================ */

 body {
   background: #9E939E;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* align-content: stretch; */
  width: 98%;
  height: 98%;
  /* background-color: pink; */
}

.form {
  text-align: center;
}

.sectionA {
  /* background: yellow; */
  display: inline-block;
  width: auto;
  hegiht: auto;
}

.intro {

}

.questions {
  width: auto;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
}

 img {
   border: 10px dashed gray;
   display: block;
   width: auto;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   max-width: 150px;
   animation-name: puff-in-center;
   animation-duration: 1s;
   animation-iteration-count: 1;
 }

.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
}

p {
  font-family: 'Coming Soon', cursive;
  font-size: 3vw;
}

li {
  font-family: 'Itim', cursive;
  font-size: 5vw;
  list-style: none;
  animation-name: rotate-diagonal-br;
  animation-duration: 1s;
  animation-iteration-count: 1;
  text-align: left;
  width: auto;
  height: auto;
}

.rotate-diagonal-br {
	-webkit-animation: rotate-diagonal-br 0.4s linear both;
	        animation: rotate-diagonal-br 0.4s linear both;
}

#modal-textbox {
  font-family: 'Quantico', sans-serif;
  font-size: 12vw;
  color: #FF5D18;
}

 .hidden {
   display: none;
 }

 #modal {
   background-color: rgba(0,0,0,0.5);
 	 position: fixed;
   align-content: center;
 	 height: 40%;
 	 width: 80%;
 	 z-index: 1;
 	 overflow: auto;
   cursor: pointer;
 }

 #modal-textbox {
   background-color: white;
   align-content: center;
   height: 30%;
   width: 50%;
   border-radius: 2px;
   margin: 75px auto;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

 }

/* ============= web design ==================== */
/* ============================================= */
@media (min-width: 800px) {
body {
  background-color: #447B96;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRt3TV5w0eVRl8M6TeuPgr3hZwpU8moUnnmKyfA-AXedEjK2U9GLw");
  background-position: right;
  background-repeat: repeat-y;
  background-size: 20% 20%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  width: 80%;
  height: 80%;
}

img {
  border-color: #050908;
  width: 100%;
  height: auto;
  max-width: 300px;
  animation-name: puff-in-center;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.sectionA {
  display: flex;
  flex-direction: row;
}

.intro {
  width: 80%;
  hegiht: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.questions {
  width: 80%;
  hegiht: 90%;
}

p {
  font-family: 'Coming Soon', cursive;
  font-size: 2vw;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 80%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

#modal-textbox {
	background-color: white;
	height: 40%;
	width: 50%;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
 /* .closeButton {
   color: red;
   float: right;
   font-size: 40px;
 }

.closeButton:hover, .closeButton:focus{
  color: black;
  cursor: pointer;
} */
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-11 12:53:31
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(2px);
            filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation rotate-diagonal-br
 * ----------------------------------------
 */
@-webkit-keyframes rotate-diagonal-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, -180deg);
            transform: rotate3d(-1, 1, 0, -180deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
            transform: rotate3d(-1, 1, 0, -360deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes rotate-diagonal-br {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
            transform: rotate3d(-1, 1, 0, 0deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  50% {
    -webkit-transform: rotate3d(-1, 1, 0, -180deg);
            transform: rotate3d(-1, 1, 0, -180deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: rotate3d(-1, 1, 0, -360deg);
            transform: rotate3d(-1, 1, 0, -360deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
